body {
  /* margin: 5rem; */
  padding: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main_header {
  background: rgb(54, 53, 53);
}

.logo {
  color: white;
  font-size: 1.4em;
}

.logo:hover {
  color: rgb(0, 172, 163)
}

.header-text {
  padding-top: 0.7em;
  text-align: center;
  color: white;
}

.ui.form {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  margin: 0;
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(100% / 6);
  overflow: hidden;
  position: relative;
}

.image_wrapper {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.image_wrapper img {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category_text {
  position: absolute;
  bottom: 25px;
  left: 18px;
  font-family: 'Gudea', sans-serif;
  font-size: 3em;
  color: rgba(47, 46, 46, .7);
  font-weight: bold;
}

.descripton_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.ui.six.cards {
  margin: 1em;
}

.content {
  min-height: 150px;
  max-height: 200px;
}


/* <Segment className='header'>
            <Header as='h3' background='black' color='teal' textAlign='center'>
            Fact Factory
            </Header> */

